doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
  body
    div#wrap
      div.container
        block content
    div#footer
      div.container
        p.text-muted.credit!= title + ' &copy; ' + authors
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
