body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url('/images/main_bg.png')
a
  color: #00B7FF

div#content
  padding-top: 20px

input.answer-text
  width: auto
  display: inline
  vertical-align: middle

input.answer-radio
  width: auto
  display: inline
  vertical-align: middle
  margin-right: 5px

.question-link
  a
    color: #000
